<div class="container-card-category">

  <div class="container-cards d-flex justify-content-around">
    <div class="row" style="justify-content: space-evenly">
      <% unless @coffees.empty? %>
        <% coffees_categories = [] %>
          <% @category_roast.each do |coffee| %>
            <div class="card-category col-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1493606278519-11aa9f86e40a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">
              <% if not coffees_categories.include?(coffee) %>
              <p style="text-decoration: none;"><%= link_to <%= "Torra#{coffee}"%>.html_safe, category_path(coffee), style:'text-decoration: none; color:black;' %></p>
              <% coffees_categories << coffee %>
              <% end %>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="container-cards d-flex justify-content-around">
    <div class="row" style="justify-content: space-evenly">
      <% unless @coffees.empty? %>
        <% coffees_categories = [] %>
          <% @category_sensory.each do |coffee| %>
            <div class="card-category col-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1516011762365-b3ae4a895b51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">
              <% if not coffees_categories.include?(coffee) %>
              <p style="text-decoration: none;">Perfil <%= link_to coffee, category_path(coffee), style:'text-decoration: none; color:black;' %></p>
              <% coffees_categories << coffee %>
              <% end %>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="container-cards d-flex justify-content-around">
    <div class="row" style="justify-content: space-evenly">
        <% unless @coffees.empty? %>
          <% coffees_categories = [] %>
            <% @category_taste.each do |coffee| %>
              <div class="card-category col-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1528401635478-821b5f89ff94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">
                <% if not coffees_categories.include?(coffee) %>
                <p style="text-decoration: none;">Gosto predominante <%= link_to coffee, category_path(coffee), style:'text-decoration: none; color:black;' %></p>
                <% coffees_categories << coffee %>
                <% end %>
              </div>
            <% end %>
        <% end %>
    </div>
  </div>

</div>
