<div class="container">
  <div class="infowindow">
    <h4><%= coffee.name %></h4>
    <p><%= coffee.address %></p>
      <h6><%= link_to 'Conheça este café', coffee_path(coffee), style:'text-decoration: none; color:white;' %></h6>
  </div>
</div>
