<div class="infowindow">
  <h5><strong><%= link_to coffee.name, coffee_path(coffee)%></strong></h5>
  <p><%= coffee.address %></p>

  <% if coffee.photo.attached? %>
    <%= cl_image_tag coffee.photo.key, style:"width: 100px; height: 100px; crop: :fill; position: absolute; left: 0;" %>
  <% else %>
    <%= image_tag "coffee-pack.png", style:"width: 100px; height: 100px; position: absolute; left: 0;"%>
  <% end %>
</div>
