<<<<<<< HEAD
<div class="head-map">
<h4>Encontre os melhores cafés perto de você</h4>
=======
<div class="container-map">
<h3>Encontre os melhores cafés perto de você</h3>
>>>>>>> origin
  <%= render 'shared/map' %>
</div>
