<% if @reviews.any? %>
  <div class="container mt-3">
    <h3> Minhas avaliações </h3>
    <% @reviews.each do |review| %>
      <div class="container">
        <div class="card-review">
          <p>
            <%= review.content %>
          </p>
          <div class="row justify-content-around">
            <p>
            <% review.rating.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (5- review.rating).times do %>
              <i class="far fa-star"></i>
            <% end %>
            <p><%= review.review_likes.count %></p>
            </p>
          </div>
        </div>
    </div>
    <% end %>
  </div>
<% end %>
