.container-home {
  background-color: #bb8246;
  color: black;
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 170px;
}

.container-home h1 {
  font-weight: 700;
  font-family: Archivo;
  font-size: 25px;
  color: white;
}

.container-home h4 {
  text-justify: center;
  padding: 20px 0px 0px 0px;
  color: white;
}
