<div class="container">
    <h5>Name: <%= @user.first_name %></h5>
    <h5>About me: <%= @user.about %></h5>

    <% if current_user == @user %>
        <%= link_to 'editar', edit_user_registration_path %>
    <% end %>
</div>
