<div class="banner">
  <div class="container">
    <h5>Sugestão do dia</h5>
    <h3><%= link_to 'Cafés da Região do Norte Pioneiro do Paraná', category_path('norte pioneiro do paraná') %></h3>
  </div>
</div>
