<div class="banner">
  <div class="container">
    <h3>Que café você quer tomar?</h3>
    <h3><%#= link_to 'Cafés da Região do Norte Pioneiro do Paraná', category_path('norte pioneiro do paraná') %></h3>
    <%= render 'shared/search' %>
  </div>
</div>
