<%= render 'banner' %>

<h4>Pesquise por categoria</h4>

<div class= "container-cards-main my-0">
  <%= link_to roast_path do %>
    <div class="card-category-main">
      <p> Torra </p>
    </div>
  <% end %>
  <%= link_to sensory_path do %>
    <div class="card-category-main">
      <p> Perfil sensorial </p>
    </div>
  <% end %>
  <%= link_to taste_path do %>
    <div class="card-category-main">
      <p> Gosto </p>
    </div>
  <% end %>
</div>
