<div class= "container-cards">
  <% coffees_categories = [] %>
    <% @category_taste.each do |coffee| %>
    <%= link_to category_path(coffee) do %>
      <div class="card-category w-100" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1528401635478-821b5f89ff94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">
        <% if not coffees_categories.include?(coffee) %>
        <p><%= "Gosto predominante #{coffee}" %></p>
        <% coffees_categories << coffee %>
        <% end %>
      </div>
    <% end %>
    <% end %>
</div>
