<div class="head-ocr">
  <h4>Tirar foto</h4>
</div>

<div class="container-ocr">
  <h1>Tire uma foto do rótulo do café</h1>

  <%= simple_form_for Photo.new, multipart: true do |f| %>
    <%= f.input :photo, label: ".", as: :file, input_html: {capture: true}%>
    <%# <%= f.submit "Upload" %>
    <%= f.button :submit, "Buscar café", class:"btn-ghost" %>
  <% end %>
</div>


