<div class="head-ocr">
  <h4>Tirar foto</h4>
</div>

<div class="container-ocr">
  <h1>Posicione aqui o rótulo do café</h1>

  <%= simple_form_for Photo.new, multipart: true do |f| %>
    <%= f.input :photo, as: :file, input_html: {capture: true}%>
    <%= f.submit "Upload" %>
  <% end %>
</div>


