.card-category-main {
  height: 20vh;
  background-color: #d59638;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  border-radius: 10px 10px 10px 10px;
  margin: 5px 0px;
  width: 18vh;
}

.container-cards-main {
  text-align: center;
  margin-bottom: 7vh;
  display: flex;
  justify-content: space-between;
}

