.mapboxgl-popup {
  max-width: 200px;
}
  
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black;
  height: 100px;
  padding: 20px;
  width: 300%;
}

.infowindow h4 {
  color: black !important;
}


