.navbar-lewagon {
  justify-content: space-between;
  background: #99642c;
  color: #b3916c;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 25px;
}

.navbar {
  margin: 0px 0px 0px 0px;
  width: 100%;
}

.navbar li {
  list-style-type: none;
}
