.navbar-lewagon {
  justify-content: space-between;
  background: #bb8246;
  color: #b3916c;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 25px;
}

.navbar {
  width: 100%;
}

.navbar li {
  list-style-type: none;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
