<div class="container">
  <h2> All reviews </h2>
  <% @reviews.each do |review| %>
  <h5><%= review.content %></h5>
  <p><%= "â­" * review.rating %></p>
  <%#= link_to 'deletar', coffee_path(coffee), method: :delete  %>
<% end %>
</div>
